/* MobileNav component styles */

/* .mobileNav {
  display: none;
} */

/* media */

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 55px;
  right: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  z-index: 100;
  margin-top: -100px;
  animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mobileNav a {
  text-decoration: none;
  color: #000;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 10px 0;
}

.mobileNavLink {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
.navLink:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #bae1ec;
}

.menuIcon {
  display: block;
}

.menuIconClose {
  display: none;
}

/* media */

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }
}

/* animations */

/* .slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} */

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
