/* LoginForm component styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* login container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 90vh;
  width: 100%;
  /* position: relative; */
}

.loginContainer {
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}
/* login form */
.form {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* border: 1px solid #000; */
  border-radius: 5px;
  height: fit-content;
  width: 350px;
  margin: 0 auto;
  /* background: #f5f5f5; */
  /* color: white; */
}

.formTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

.inputlabel {
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  width: fit-content;
  z-index: 30;
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: 1px solid #dadada;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* background-color: #f5f5f5; */
}

.input:focus {
  box-shadow: inset 0 0 2px rgb(0, 0, 0);
}
.inputContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

/* input */

.passwordInput {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  position: relative;
}

.submitButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.submitButton:hover {
  background-color: #fff;
  color: #000;
  /* border: 1px solid #000;
   */
  /* inset border */

  box-shadow: inset 0 0 0 1px #000;
}

input.error {
  border: 1px solid red;
}

.signupContainer {
  margin-top: 20px;
}

.signupLink {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: all 0.3s ease;
}

.showPassword {
  position: absolute;
  right: 20px;
  top: 50%;
  /* transform: translateY(-50%); */
  cursor: pointer;
}

.showPassword svg {
  width: 20px;
  height: 20px;
}

/* Don't have an account? Sign Up */
